.col-md-8
	.panel.panel-default
		.panel-heading
			Catalogue
			.pull-right
				.badge{:style => 'background-color: #428bca;'}
					= @catalog.faculty.capitalize
				.badge{:style => 'background-color: #428bca;'}
					= @catalog.department.capitalize
		.panel-body
			.alert.alert-danger.alert-dismissable
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				.text-center
					1 - Télécharger le fichier excel
				.text-center
					2 - Compléter le fichier excel
				.text-center
					3 - Mettre à jour le fichier excel
			= link_to '1 - Télécharger les informations du catalogue', @catalog.spreadsheet_url, class: "btn btn-danger btn-lg btn-block"
			= form_for @catalog, :url => catalog_catalog_upload_path(@catalog) do |f|
				.form-group
					.col-md-3
						= f.label "Fichier excel", class: 'control-label'
					.col-md-9
						= f.file_field :spreadsheet
						%p.help-block{:style => 'color: red;'} Le fichier excel doit être au format .xls
				.form-group
					= f.submit "3 - Mettre à jour les informations", class: "btn btn-primary btn-lg btn-block"
			
	/ .span9
	/ 	%h3 Catalog Overview
	/ 	%script{:src => '/assets/test.js.coffee'}
.col-md-4
	.panel.panel-default
		.panel-heading
			.text-center
				Menu
		.panel-body
			%ul.nav.nav-pills.nav-stacked
				%li
					= link_to catalog_programs_path(@catalog) do
						= content_tag(:label, "Programmes")
						%span.badge.pull-right
							= @catalog.programs.count

				%li
					= link_to catalog_p_modules_path(@catalog) do
						= content_tag(:label, "Modules")
						%span.badge.pull-right
							= @catalog.p_modules.wihtout_parent.count
				%li
					= link_to catalog_courses_path(@catalog) do
						= content_tag(:label, "Cours")
						%span.badge.pull-right
							= @catalog.courses.count

				

	