%h1 Editing course entity
= form_for([@catalog, @program, @p_module, @course, @course_entity]) do |f|
	%p
		= f.label :professor
		= f.text_field :professor

	%p
		= f.label :credits
		= f.text_field :credits

	%p
		= select_year(Time.now)

	%p
		= f.submit
= link_to 'Back', catalog_program_p_module_course_path(@catalog, @program, @p_module, @course)