%h1 Catalog
%p
	%strong
		Faculty:
		= @catalog.faculty
%p
	%strong
		Department:
		= @catalog.department

%h3 Upload Infos
= form_for @catalog, :url => catalog_catalog_upload_path(@catalog) do |f|
	%p
		= f.file_field :data
	%p
		= f.submit
= link_to 'Download Infos', catalog_catalog_download_path(@catalog)
= link_to 'Programs', catalog_programs_path(@catalog)
= link_to 'Back', catalogs_path