.row
	.span9
		%h1 Catalog
		%p
			%strong
				Faculty:
				= @catalog.faculty
		%p
			%strong
				Department:
				= @catalog.department

		%h3 Upload Infos
		= form_for @catalog, :url => catalog_catalog_upload_path(@catalog) do |f|
			%p
				= f.file_field :data
			%p
				= f.submit
		- if @catalog.has_programs?
			= link_to 'Programs', catalog_programs_path(@catalog)
		- if @catalog.p_modules.count > 0
			= link_to 'Modules', catalog_p_modules_path(@catalog)
		= link_to 'Download Catalog Infos', catalog_catalog_download_path(@catalog)
	.span9
		%h3 Catalog Overview
		%script{:src => '/assets/test.js.coffee'}


	