%h1 Editing course
- if @state.eql? "SubModule"
	= form_for ([@catalog, @program, @p_module, @context, @course]) do |f|
		%p
			= f.label :name
			= f.text_field :name, value: 'Introduction à la programmation'
		%p
			= f.label :sigle
			= f.text_field :sigle, value: 'LSINF1101'
		%p
			= f.submit
	= link_to 'Back', catalog_program_p_module_sub_module_courses_path(@catalog, @program, @p_module, @context)
- else
	= form_for ([@catalog, @program, @context, @course]) do |f|
		%p
			= f.label :name
			= f.text_field :name, value: 'Introduction à la programmation'
		%p
			= f.label :sigle
			= f.text_field :sigle, value: 'LSINF1101'
		%p
			= f.submit
	= link_to 'Back', catalog_program_p_module_courses_path(@catalog, @program, @context)