%h1 Listing courses
= link_to 'New Course', new_catalog_program_p_module_course_path(@catalog, @program, @p_module, @course)
%table
	%tr
		%th Course Name
		%th Sigle
		%th
		%th
		%th
	- @courses.each do |c|
		%tr
			%td= c.name
			%td= c.sigle
			%td= link_to 'Show', catalog_program_p_module_course_path(@catalog, @program, @p_module, c)
			%td= link_to 'Edit', edit_catalog_program_p_module_course_path(@catalog, @program, @p_module, c)
			%td= link_to 'Delete', catalog_program_p_module_course_path(@catalog, @program, @p_module, c), method: :delete, data: { confirm: 'Are you sure?'}

