%h1 Listing courses
= link_to 'New Course', new_program_course_path(@program)
%table
	%tr
		%th Course Name
		%th Sigle
		%th
		%th
		%th
		%th
	- @courses.each do |c|
		%tr
			%td= c.name
			%td= c.sigle
			%td= link_to 'Constraints', program_course_course_constraints_path(@program, c)
			%td= link_to 'Show', program_course_path(@program, c)
			%td= link_to 'Edit', edit_program_course_path(@program, c)
			%td= link_to 'Delete', program_course_path(@program, c), method: :delete, data: { confirm: 'Are you sure?'}
