%p
	%strong Course Name:
	= @course.name

%p
	%strong Course Sigle:
	= @course.sigle
- if @course.course_entities.count != 0
	%h2 Course Entities
	= render @course.course_entities

%h2 Add a course entity
= render 'course_entities/form'

= link_to 'Edit', edit_course_path(@course)
= link_to 'Back', courses_path