- i = 0
- p_modules.each do |p|
  .panel.panel-default
    .panel-heading
      %a{"data-parent" => "#"+id, "data-toggle" => "collapse", :href => "#"+id+"_module_"+i.to_s}
        = p.name
      .pull-right
        = link_to p do 
          %span.glyphicon.glyphicon-zoom-in
    .panel-collapse.collapse{id: id+"_module_"+i.to_s}
      - if p.sub_modules.count > 0
        .panel.panel-default
          .panel-heading
            %a{"data-parent" => "#"+id+"_module_"+i.to_s, "data-toggle" => "collapse", :href => "#"+id+"_module_"+i.to_s+"_sub_module"}
              Sous Modules
              %span.badge.pull-right
                = p.sub_modules.count
          .panel-collapse.collapse{id: id+"_module_"+i.to_s+"_sub_module"}
            = render 'p_modules/index', p_modules: p.sub_modules, id: id+"_module_"+i.to_s+"_sub_module"
      - if p.courses.count > 0
        .panel.panel-default
          .panel-heading
            %a{"data-parent" => "#"+id+"_module_"+i.to_s, "data-toggle" => "collapse", :href => "#"+id+"_module_"+i.to_s+"_courses"}
              Cours
              %span.badge.pull-right
                = p.courses.count
          .panel-collapse.collapse{id: id+"_module_"+i.to_s+"_courses"}
            = render 'courses/index', courses: p.courses, id: id+"_module_"+i.to_s+"_courses" 
  - i += 1