.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading
      .text-center
        = @p_module.name
    .panel-heading.text-center
      = link_to :back do
        %span.glyphicon.glyphicon-chevron-left
          Retour vers la page précédente
    .panel-body
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th.text-center NOM
            %th.text-center Crédits MIN
            %th.text-center Crédits MAX
            %th.text-center OBLIGATOIRE?
        %tbody
          %tr.text-center
            %td
              = @p_module.name
            %td
              = @p_module.min
            %td
              = @p_module.max
            %td
              = @p_module.mandatory