-i = 0
.panel.panel-default
  .panel-heading.text-center
    Programmes disponnibles
  .panel-body
    .alert.alert-info.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      Pour avoir accès à d'anciens programmes, cliquez
      = link_to "ici", user_choose_catalog_path(current_user)
      pour changer de catalogue
    - programs.each do |p|
      .panel.panel-default
        .panel.panel-heading
          %a{"data-parent" => "main", "data-toggle" => "collapse", :href => "#program_"+i.to_s}
            = p.name
        .panel-collapse.collapse{id: "program_"+i.to_s}
          - if p.p_modules.count  > 0
            .panel.panel-default
              .panel.panel-heading
                %a{"data-parent" => "main", "data-toggle" => "collapse", :href => "#program_"+i.to_s+"_modules"}
                  Modules
                  %span.badge.pull-right
                    = p.p_modules.count
              .panel-collapse.collapse{id: "program_"+i.to_s+"_modules"}
                = render 'p_modules/index', p_modules: p.p_modules, id: "program_"+i.to_s+"_modules"
          - if p.courses.count > 0
            .panel.panel-default
              .panel.panel-heading
                %a{"data-parent" => "main", "data-toggle" => "collapse", :href => "#program_"+i.to_s+"_courses"}
                  Cours
                  %span.badge.pull-right
                    = p.courses.count
              .panel-collapse.collapse{id: "program_"+i.to_s+"_courses"}
                = render 'courses/index', courses: p.courses, id: "program_"+i.to_s+"_courses"
      - i += 1
