.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading
      .text-center
        = @program.name
    .panel-heading.text-center
      = link_to :back do
        %span.glyphicon.glyphicon-chevron-left
          Retour vers la page précédente
    .panel-body
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th.text-center NOM
            %th.text-center Crédits MIN
            %th.text-center Crédits MAX
        %tbody
          %tr
            %td.text-center
              = @program.name
            %td.text-center
              = @program.min
            %td.text-center
              = @program.max