%h1
	= @course.sigle
	Entity

%p
	%strong Year:
	= @course_entity.year

%p
	%strong Professor:
	= @course_entity.professor

%p
	%strong Credits:
	= @course_entity.credits

= link_to 'Edit', edit_catalog_program_p_module_course_course_entity_path(@catalog, @program, @p_module, @course, @course_entity)
= link_to 'Back', catalog_program_p_module_course_course_entities_path(@catalog, @program, @p_module, @course)
