= form_for ([@catalog, @program, @program.p_modules.build]) do |f|
	%p
		= f.label :name
		= f.text_field :name
	%p
		= f.label :module_type
		= f.text_field :module_type
	%p
		= f.label :credits
		= f.text_field :credits
	%p
		= f.submit