%h1 Listing programs
= link_to 'New Program', new_catalog_program_path
%table
	%tr
		%th 
		%th
		%th
		%th
		%th
	- @programs.each do |p|
		%tr
			%td= p.properties.first.value
			%td= link_to 'Show', catalog_program_path(@catalog, p)
			%td= link_to 'Edit', edit_catalog_program_path(@catalog, p)
			%td= link_to 'Modules', catalog_program_p_modules_path(@catalog, p)
			%td= link_to 'Delete', catalog_program_path(@catalog, p), method: :delete, data: { confirm: 'Are you sure?'}

 