%h1 Listing programs
= link_to 'Nouveau Programme', new_catalog_program_path
%table
	%tr
		%th 
		%th
		%th
		%th
		%th
	- @programs.each do |p|
		%tr
			%td= p.name
			%td= link_to 'Show', p
			%td= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?'}


= link_to 'Back', @catalog

 