%h1 Listing programs
%table
	%tr
		%th 
		%th
		%th
		%th
		%th
	- @programs.each do |p|
		%tr
			%td= p.properties.first.value
			%td= link_to 'Show', program_path(@catalog, p)
			%td= link_to 'Modules', program_p_modules_path(p)
			%td= link_to 'Delete', program_path(@catalog, p), method: :delete, data: { confirm: 'Are you sure?'}
			%td= link_to 'Courses', program_courses_path(p)

= link_to 'Back', @catalog

 