%p
	%strong Program Type:
	= @program.program_type

%p
	%strong Cycle:
	= @program.cycle

%p 
	%strong Credits:
	= @program.credits

= link_to 'Constraints', program_course_constraints_path(@program)
= link_to 'Back', programs_path