%p
	%strong Program Type:
	= @program.program_type

%p
	%strong Cycle:
	= @program.cycle

%p 
	%strong Credits:
	= @program.credits

= link_to 'Modules', catalog_program_p_modules_path(@catalog, @program)
= link_to 'Back', catalog_programs_path(@catalog)