%h1 Listing course constraints

%h4 Prerequisites
- @binary_prerequisites.each do |c|
	- pairs = c.pairs
	- pairs.each do |p|
		- course = p.course
		%p= course.properties.first.value

%h4 Corequisites
- @binary_corequisites.each do |c|
	- pairs = c.pairs
	- pairs.each do |p|
		- course = p.course
		%p= course.properties.first.value

%h4 Xor-Corequisites
- @xor_corequisites.each do |c|
	- pairs = c.pairs
	- if ! pairs.nil?
		- pairs.each do |p|
			- course = p.course
			%p= course.properties.first.value

%h4 Or-Corequisites
- @or_corequisites.each do |c|
	- pairs = c.pairs
	- if ! pairs.nil?
		- pairs.each do |p|
			- course = p.course
			%p= course.properties.first.value

%h4 Or-Prerequisites
- @or_prerequisites.each do |c|
	- pairs = c.pairs
	- if ! pairs.nil?
		- pairs.each do |p|
			- course = p.course
			%p= course.properties.first.value

%h4 Xor-Prerequisites
- @xor_prerequisites.each do |c|
	- pairs = c.pairs
	- if ! pairs.nil?
		- pairs.each do |p|
			- course = p.course
			%p= course.properties.first.value


