%h1 
	Listing
	= @course.name 
	constraints

- if @binary_prerequisites.count > 0
	%h4 Prerequisites
	= render 'constraints', constraints: @binary_prerequisites

- if @binary_corequisites.count > 0
	%h4 Corequisites
	= render 'constraints', constraints: @binary_corequisites

- if @xor_corequisites.count > 0
	%h4 Xor Corequisites
	= render 'constraints', constraints: @xor_corequisites

- if @or_corequisites.count > 0
	%h4 Or Corequisites
	= render 'constraints', constraints: @or_corequisites

- if @or_prerequisites.count > 0
	%h4 Or Prerequisites
	= render 'constraints', constraints: @or_prerequisites

- if @xor_prerequisites.count > 0
	%h4 XOr Prerequisites
	= render 'constraints', constraints: @xor_prerequisites


