= form_for @student_program do |f|
  .panel.panel-default
    .panel-heading
      %a{"data-parent" => "#"+id, "data-toggle" => "collapse", :href => "#mandatory"}
        Modules obligatoires
        %span.badge.pull-right
          = student_program.program.mandatory_modules.count
    #mandatory.panel-collapse.collapse
      .row
        .col-md-4.col-md-offset-4
          - student_program.program.mandatory_modules.each do |m|
            = fields_for :mandatory_modules do |f|
              .checkbox
                = f.check_box :ids, {multiple: true, checked: student_program.is_p_module_present?(m)}, m.id
                = f.label m.name


  .panel.panel-default
    .panel-heading
      %a{"data-parent" => "#"+id, "data-toggle" => "collapse", :href => "#optional"}
        Modules optionnels
        %span.badge.pull-right
          = student_program.program.optional_modules.count
    #optional.panel-collapse.collapse
      .row
        .col-md-4.col-md-offset-4
          - student_program.program.optional_modules.each do |m|
            = fields_for :optional_modules do |f|
              .checkbox
                = f.check_box :ids, {multiple: true, checked: student_program.is_p_module_present?(m)}, m.id
                = f.label m.name
      

  .row
    = f.submit "Mettre à jour les modules", class: "btn btn-primary btn-lg btn-block"