.panel.panel-default
  .panel-heading.text-center
    = link_to user_student_programs_path(current_user) do
      %span.glyphicon.glyphicon-chevron-left
        Retour vers la page précédente
  .panel-body
    = render 'alert_messages', student_program: student_program
    .row
      .col-md-8.col-md-offset-2
        = link_to "Configurer le programme de cours", student_program_student_program_configure_path(student_program), class:'btn btn-block btn-primary'
    .row
      .col-md-8.col-md-offset-2
        = link_to "Informations sur le programme choisi", "#", class:'btn btn-block btn-primary'
    .row
      .col-md-8.col-md-offset-2  
        = link_to "Vérifier les contraintes", student_program_student_program_check_path(student_program), class:'btn btn-block btn-primary'
    .row
      .col-md-8.col-md-offset-2
        = link_to "Status", student_program_student_program_status_path(student_program), class: 'btn btn-block btn-primary'
    .row
      .col-md-8.col-md-offset-2
        - link = nil
        - if student_program.justification.nil?
          - link = new_student_program_justification_path(student_program)
        - else
          - link = edit_justification_path(student_program.justification)

        = link_to "Justifier les contraintes non respectée", link, class: 'btn btn-block btn-danger', disabled: ! student_program.can_justify?
    .row
      .col-md-8.col-md-offset-2
        = link_to "Envoyer à la validation", student_program_student_program_new_validation_path(student_program), class:'btn btn-block btn-danger', disabled: !student_program.can_validates?