%table.table.table-bordered.table-striped
  %tbody
    %tr
      %th.text-center
        Année acédémique
      %th.text-center
        Infos
      %th.text-center
        Modifier
      %th.text-center
        Supprimer
  %tbody
  - years.each do |c|
    %tr
      %td.text-center
        = c.academic_year.name
      %td.text-center
        = link_to c do
          %span.glyphicon.glyphicon-zoom-in
      %td.text-center
        = link_to edit_year_path(c) do
          %span.glyphicon.glyphicon-wrench
      %td.text-center
        = link_to c, method: :delete, data: {confirm: 'Êtes vous sûr?'}, disabled: (c.passed? or c.failed?) do
          %span.glyphicon.glyphicon-remove{style: 'color: red;  '}

= link_to 'Ajouter une nouvelle année', new_student_program_year_path(@student_program), class: "btn btn-default btn-block"