%h3.text-center Vérification des contraintes du programme
.panel.panel-default
  .panel-heading.text-center
    = link_to student_program_student_program_configure_path(@student_program) do
      %span.glyphicon.glyphicon-chevron-left
        Retour vers la page précédente
  .panel-body
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#pre"} Prérequis Manquants
      %li
        %a{"data-toggle" => "tab", :href => "#co"} Corequis Manquants
      %li
        %a{"data-toggle" => "tab", :href => "#mandatory"} Cours Obligatoires Manquants
      %li
        %a{"data-toggle" => "tab", :href => "#or_co"} Corequis Disjonctifs
      %li
        %a{"data-toggle" => "tab", :href => "#or_pre"} Prerequis Disjonctifs
    .tab-content
      #pre.tab-pane.active
        = render "courses", courses: @prerequisites
      #co.tab-pane
        = render "courses", courses: @corequisites
      #mandatory.tab-pane
        = render "courses", courses: @mandatories
      #or_co.tab-pane
        - @or_corequisites.each do |o|
          .panel.panel-default
            .panel-heading
              Il vous manque un des corequis suivants
            .panel-body
              = render "courses",courses: o
      #or_pre.tab-pane
        - @or_prerequisites.each do |o|
          .panel.panel-default
            .panel-heading
              Il vous manque un des prerequis suivants
            .panel-body
              = render "courses", courses: o