.col-md-8.col-md-offset-2
  %h3
    .text-center
      Programmes de cours des étudiants
  .panel.panel-default
    .panel-heading.text-center
      = link_to 'Nouveau Programme', new_user_student_program_path(current_user), class: "btn btn-primary btn-lg btn-block"
    .panel-body
      -@student_programs.each do |p|
        .row
          .col-md-3.text-center
            = link_to "Détails", p, class: "btn btn-primary btn-block"
          .col-md-4
            = link_to p.justification, class: "btn btn-primary btn-block" do
              Justification
              %span.badge
                = p.justification.answers.not_from(current_user).unread.count
          .col-md-3
            = link_to "Status", student_program_student_program_status_path(p), class: "btn btn-primary btn-block"
          .col-md-2 
            = link_to p, method: :delete, data: {confirm: "Êtes vous sûr?"}, class: "btn btn-danger btn-block" do
              .glyphicon.glyphicon-remove
