.col-md-8.col-md-offset-2
  %h2.text-center Programme d'étudiant
  .panel.panel-default
    .panel-heading.text-center
      = link_to student_programs_path do
        %span.glyphicon.glyphicon-chevron-left
          Retour vers la page précédente
    .panel-body
      .row
        .col-md-8.col-md-offset-2
          = link_to "Configurer le programme de cours", student_program_student_program_configure_path(@student_program), class:'btn btn-block btn-primary'
      .row
        .col-md-8.col-md-offset-2
          = link_to "Informations sur le programme choisi", "#", class:'btn btn-block btn-primary'
      .row
        .col-md-8.col-md-offset-2  
          = link_to "Vérifier les contraintes", student_program_student_program_check_path(@student_program), class:'btn btn-block btn-primary'
      .row
        .col-md-8.col-md-offset-2
          = link_to "Envoyer à la validation", student_program_student_program_new_validation_path(@student_program), class:'btn btn-block btn-danger', disabled: @student_program.state