- courses_array = @courses.all.map { |course| [course.sigle, course.id]}
= form_for ([@program, @program.course_constraints.build]) do |f|
	%p 
		%strong Constraint Type:
	
	%p	
		= f.select :constraint_type, options_for_select(["PREREQUISITE"])
	
	%p
		= f.select :first_course_id, options_for_select(courses_array)
	
	%p
		= f.select :second_course_id, options_for_select(courses_array)
	
	%p
		= f.submit