%h1
	= @course.sigle
	Constraints
- @course_constraints.each do |course_constraint|
	%p
		%strong
		Course:
		= course_constraint.course.sigle
		%strong is a 
		= course_constraint.constraint_type
		%strong 
			for course:
			= @course.sigle
%p
= link_to 'New Constraint', new_program_course_course_constraint_path