%h1
	= @course.sigle
	Constraints
- @course_constraints.each do |course_constraint|
	%p
		%strong
		Course:
		= course_constraint.second_course.sigle
		%strong is a 
		= course_constraint.constraint_type
		%strong 
			for course:
			= @course.sigle
%p
= link_to 'New Constraint', new_catalog_program_p_module_course_course_constraint_path(@catalog, @program, @p_module, @course)