= f.fields_for :constraint_exceptions, exceptions  do |builder|
  .panel.panel-default
    .panel-heading.text-center
      - if builder.object.entity.class.name.eql? "PModule"
        - if builder.object.entity.is_sub_module?
          Les cours obligatoires suivants du module
          = builder.object.entity.parent.name
          n'ont pas été sélectionnés
        - else
          Les cours suivants du module obligatoire
          = builder.object.entity.name
          n'ont pas été sélectionnés
      - else
        Le cours suivant est obligatoire dans le programme que vous suivez.
    .panel-body
      .col-md-4
        %table.table.table-bordered
          %thead
            %tr
              %th.text-center Cours manquant
          %tbody
            - if builder.object.entity.class.name.eql? "Course"
              %tr
                %td.text-center
                  = builder.object.entity.name
            - else
              - builder.object.entity.courses.each do |course|
                %tr
                - if ! student_program.course_present?(course)
                  %td.text-center
                    = course.name
      .col-md-8
        = render "student_programs/check/edit_constraint_exception", f: builder, constraint_exception: builder.object, label: true


