.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading
      .text-center
        = @course.name
        .pull-right
          = link_to  @course, method: :delete, data: { confirm: 'Are you sure?'} do
            %span.glyphicon.glyphicon-remove
    .panel-heading.text-center
      = link_to @back do
        %span.glyphicon.glyphicon-chevron-left
          Retour vers la page précédente
    .panel-body.text-center
      %table.table-bordered.table-centered.text-center
        %thead
          %tr
            %th SIGLE
            %th CREDITS
            %th SEMESTRE
            %th OBLIGATOIRE
        %tbody
          %tr
            %td
              = @course.name
            %td
              = @course.credits
            %td
              = @course.semester
            %td
              = @course.mandatory
      %br

      #main.panel-group
        .panel.panel-default
          .panel-heading
            .text-heading.text-center
              %a{"data-parent" => "#main", "data-toggle" => "collapse", :href => "#collapseMain"}
                Contraintes
          #collapseMain.panel-collapse.collapse
            .panel-body
              #accordion.panel-group
                - if @course.constraints.binary.corequisites.size > 0
                  = render @course.constraints.binary.corequisites, name: "Corequis", div: "collapseOne"
                - if @course.constraints.binary.prerequisites.size > 0
                  = render 'constraints', constraints: @course.constraints.binary.prerequisites, name: "Prerequis", div: "collapseTwo"
                - if @course.constraints.o_r.prerequisites.size > 0
                  = render 'constraints', constraints: @course.constraints.o_r.prerequisites, name: "Prérequis disjonctifs (OR)", div: "collapseTree"
                - if @course.constraints.o_r.corequisites.size > 0
                  = render 'constraints', constraints: @course.constraints.o_r.corequisites, name: "Corequis disjonctif (OR)", div: "collapseFour"
                - if @course.constraints.xor.prerequisites.size > 0
                  = render 'constraints', constraints: @course.constraints.xor.prerequisites, name: "Prérequis disjonctifs exclusifs (XOR)", div: "collapseFive"
                - if @course.constraints.xor.corequisites.size > 0
                  = render 'constraints', constraints: @course.constraints.xor.corequisites, name: "Corequis disjonctifs exclusif (XOR)", div: "collapseSix"