.panel.panel-default
  .panel-heading.text-center
    Demandes de validation
  .panel-body
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th.text-center
            Étudiant
          %th.text-center
            Programme
          %th.text-center
            Justification
          %th.text-center 
            Valider
          %th.text-center
            Refuser
      %tbody
        - @validations.each do |validation|
          %tr
            %td.text-center
              = validation.student_program.user.email
            %td.text-center
              = link_to validation.student_program do
                %span.glyphicon.glyphicon-zoom-in
            %td.text-center
              = link_to validation.student_program.justification do
                %span.glyphicon.glyphicon-zoom-in
            %td.text-center
              = link_to validation_validate_path(validation), data: {confirm: 'Êtes vous sûr?'} do
                %span.glyphicon.glyphicon-ok{style: 'color: green;'}
            %td.text-center
              = link_to validation, method: :delete, data: {confirm: 'Êtes vous sûr?'} do
                %span.glyphicon.glyphicon-remove{style: 'color: red;'}