.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#coucou", "data-toggle" => "collapse", type: :button}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Home", root_path, class: 'navbar-brand'

    
    #coucou.navbar-collapse.collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          - if current_user.admin?
            %li
              = link_to "Catalogues", catalogs_path
            %li
              = link_to "Demandes de validation", validations_path
            %li
              = link_to "Gérer les années" , user_manage_years_path(current_user)
            %li
              = link_to  justifications_path do
                Discussions
                %span.badge
                  = Justification.unread.count
          - else
            %li
              = link_to "Mes programmes de cours", user_student_programs_path(current_user)
            %li
              = link_to "Programmes disponnibles", catalog_programs_path(current_user.catalog)

        
        %ul.nav.navbar-nav.pull-right
          %li.drop-down
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Menu
              %b.caret
              %ul.dropdown-menu.dropdown-menu-right
                - if ! current_user.admin?
                  %li
                    = link_to "Choisir le catalogue", user_choose_catalog_path(current_user)
                  %li
                    = link_to "Mes programmes de cours", user_student_programs_path(current_user)
                  %li.divider
                - else
                  %li
                    = link_to "Catalogues", catalogs_path
                  %li
                    = link_to "Demandes de validation", validations_path
                  %li
                    = link_to "Gérer les années" , user_manage_years_path(current_user)
                  %li.divider
                %li
                  = link_to "Mon compte", edit_user_registration_path
                %li
                  = link_to "Déconnexion", destroy_user_session_path, method: :delete
